body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: #ffd1b3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
    .card {
      width: 400px;
      height: 400px;
      background-color: #fff;
      border: 2px solid #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: absolute;
      cursor: grab;
      
    }

  .card:hover {
      transform: scale(1.05);
  }
#btn {
position: relative;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.3);
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  opacity: 1;
  transform: scale(1);
}
#m42{
    font-size:40px; 
    font-style: italic; 
    font-weight:bold;
    position: absolute;
    top: 50px;
    visibility: visible;
}
  #card1 {
    background: url('digital_fremes_4b74434a3f03479f97c84dcc7c7743d7.jpg') center/cover no-repeat;
  }

  #card2 {
    background: url('digital_fremes_f2b022282f8e42a49b03c9f94e660daa.jpg') center/cover no-repeat;
  }

  #card3 {
    background: url('digital_fremes_331a8bf6ffca4d84a3b0b87f36a4a74f.jpg') center/cover no-repeat;
  }

  #card4 {
    background: url('digital_fremes_0de5b2163cb248b5b20d06d6cd678603.jpg') center/cover no-repeat;
  }